version: "3.9"

services:
  frontend:
    build:
      dockerfile: Dockerfile.dev
    ports:
      - "3003:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    networks:
      - app-network

networks:
  app-network:
    name: pisgop-network
    external: true
