version: "3.9"

services:
  frontend:
      build:
        dockerfile: Dockerfile.dev
      ports:
        - "3000:3000"
      volumes:
        - .:/app
        - /app/node_modules
      environment:
        CHOKIDAR_USEPOLLING: "true"
      networks:
        - app-network

networks:
  app-network:
    name: pcshopgoodprice_app-network
    external: true